<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Chat Arlington</title>
    <link rel="icon" sizes="32x32" type="image/png" href="images/favicon-16x16.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
</head> 
<body  ng-controller="mainController">
    
    <div id="logo">
        <img class="logo-epiron" src="images/EpironIcon.png" >
    </div>

    <div id="chat-container">
        <button id="btnclose" style="width: 50px;" class="btn btn-danger" ng-show = "showChat" ng-click="CloseChat()" ><i class="fas fa-times"></i></button>
        <div id="chat-window">
            <div id="output" ng-model="output">
            </div>
            <div id="actions"></div>

            <div class="row" id="divin" ng-show = "showIngreso" style="padding: 2px 15px;">
                <div class="col-lg-4" id="loadimage" style="padding: 0 2px;">
                    <input type="number"  id="txtuserdoc" ng-model="txtuserdoc" placeholder="Documento">
                </div>               
                <div class="col-lg-8" id="loadimage" style="padding: 0px 2px;">
                    <input type="text"  id="txtusername"  ng-model="txtusername" placeholder="Nombre">
                </div>
                <div style="padding: 0 0; width: 100%;">
                    <button id="btniniciar" ng-click="InNewUser(txtuserdoc, txtusername)">Iniciar</button>
                </div>
            </div>
            <input type="text" id="txtmessage" ng-show="showChat" ng-model="txtmessage" ng-blur="TypingOut()" ng-change="Typing()" ng-keypress="InsertMessageEnter(txtmessage, $event) " placeholder="Escriba su mensaje">
         
            <div class="row" id="divsend" ng-show="showChat" style="padding: 2px 15px;">
                <div class="col-lg-2" id="loadimage" style="padding: 0 0;">
                    <button class="btn btn-light">
                        <i class="fas fa-image"></i>
                    </button> 
                    <input type="file" id="ofdloadimage" name="myfile" accept="image/x-png,image/gif,image/jpeg" />
                </div>
                <div class="col-sm-2" style="padding: 0 0;">
                    <button class="btn btn-light">
                        <i class="fas fa-microphone"></i>
                    </button>
                </div>                
                <div class="col-lg-2" id="loadimage" style="padding: 0 0;">
                    <button class="btn btn-light"><i class="fas fa-file"></i></button>
                    <input type="file" id="ofdloadfile" name="myfile" accept=".pdf" />
                </div>
                <div class="col-sm-6" style="padding: 0 0;">
                    <button id="btnsend" ng-click="InsertMessage(txtmessage)">Enviar</button>
                </div>
            </div>
            
        </div>
    </div>
 
    <script src="/socket.io/socket.io.js"></script>
    
    </script> <script src="//code.angularjs.org/1.5.0/angular.min.js"></script> 
    <script src="js/app.js"></script>  
    
</body>

</html>