body{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';  
    background-color: #eee;  
}


#chat-container{    
    max-width: 650px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5)
}

#chat-window{
    
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#actions p{
    padding: 14px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#output{
    height: 300px;
    overflow-y: scroll;
}

#output p {
    color: #aaa;
    padding: 10px 0;
    margin: 0 20px;
}

#loadimage input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.imgchat {
    display: block; 
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    max-width: 100%;
    width: 80%;    
  }

.logo-epiron{
    display: block;
    width: 80%;    
    max-width: 300px;
    margin: 30px auto;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    background: #eee;
    display: block;
    width: 100%;
}

button{
    background-color: #002F5C;
    font-size: 18px;
    border: 0;
    padding: 5px 0;
    width: 100%;
    border-radius: 4px;
    color: #eee;
    margin: 2px 0px;
}